<nav class="navbar navbar-expand-lg bg-body-tertiary" style="margin: 10px;">
    <div class="container-fluid">
      <div class="LOGOcon container" style="width: 150px;">
        <div id="banner"><img src="../assets/myntra-logo-m-png-3.png" class="logo" style="width: 100%"></div>
      </div>
      
      

     
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="dropdown">
        <button class="dropbtn" style="font-size: 13px; color: rgb(45, 45, 45);
        background-color: #ffffff; color: black; padding: 16px; font-size: 13px; border: none;">
        <strong>MEN</strong></button>

        <div class="dropdown-content" >
          <div class="row justify-content-start" style="width:1200px">
            
          <div class="col-2"style="width 240px; background-color: white; font-size: 14px">
            <a class="h dropdown-item" href="#" style="color:red;">Topwear</a>
            <a class="choice dropdown-item" href="#">T-Shirts</a>
            <a class="choice dropdown-item" href="#">Casual Shirts</a>
            <a class="choice dropdown-item" href="#">Formal Shirts</a>
            <a class="choice dropdown-item" href="#">Sweatshirts</a>
            <a class="choice dropdown-item" href="#">Sweaters</a>
            <a class="choice dropdown-item" href="#">Jackets</a>
            <a class="choice dropdown-item" href="#">Blazers & Coats</a>
            <a class="choice dropdown-item" href="#">Suits</a>
            <a class="choice dropdown-item" href="#">Rain Jackets</a>
            <hr class="hr-black" />
            <!-- <hr class="dropdown-divider" style="color: black;"> -->
            <a class="header dropdown-item" href="#" style="color:red">Indian & Festive Wear</a>
            <a class="choice dropdown-item" href="#">Kurtas & Kurta Sets</a>
            <a class="choice dropdown-item" href="#">Sherwanis</a>
            <a class="choice dropdown-item" href="#">Nehru Jackets</a>
            <a class="choice dropdown-item" href="#">Dhotis</a>
          </div>
          <div class="col-4" style="width: 240px; background-color: rgb(241, 241, 241); font-size: 14px">
            <a class="h dropdown-item" href="#" style="color:red;">Bottomwear</a>
            <a class="choice dropdown-item" href="#">Jeans</a>
            <a class="choice dropdown-item" href="#">Casual Trousers</a>
            <a class="choice dropdown-item" href="#">Formal Trousers</a>
            <a class="choice dropdown-item" href="#">Shorts</a>
            <a class="choice dropdown-item" href="#">Track Pants & Joggers</a>
            <hr class="hr-black" />
            <a class="header dropdown-item" href="#" style="color:red">Innerwear & Sleepwear</a>
            <a class="choice dropdown-item" href="#">Briefs & Trunks</a>
            <a class="choice dropdown-item" href="#">Boxers</a>
            <a class="choice dropdown-item" href="#">Vests</a>
            <a class="choice dropdown-item" href="#">Sleepwear & Loungewear</a>
            <a class="choice dropdown-item" href="#">Thermals</a>
            <hr class="hr-black" />
            <a class="header dropdown-item" href="#" style="color:red">Plus Size</a>
          </div>
          <div class="col-4" style="width: 240px; background-color: white; font-size: 14px">
            <a class="h dropdown-item" href="#" style="color:red;">Footwear</a>
            <a class="choice dropdown-item" href="#">Casual Shoes</a>
            <a class="choice dropdown-item" href="#">Sports Shoes</a>
            <a class="choice dropdown-item" href="#">Formal Shoes</a>
            <a class="choice dropdown-item" href="#">Sneakers</a>
            <a class="choice dropdown-item" href="#">Sandals & Floaters</a>
            <a class="choice dropdown-item" href="#">Flip Flops</a>
            <a class="choice dropdown-item" href="#">Socks</a>
            <hr class="hr-black" />
            <a class="header dropdown-item" href="#" style="color:red">Personal Care & Grooming</a>
            <a class="header dropdown-item" href="#" style="color:red"> Sunglasses & Frames</a>
            <a class="header dropdown-item" href="#" style="color:red">Watches</a>
          </div>
          <div class="col-4" style="width: 240px; background-color:rgb(241, 241, 241); font-size: 14px">
            <a class="h dropdown-item" href="#" style="color:red;">Sports & Active Wear</a>
            <a class="choice dropdown-item" href="#">Sports Shoes</a>
            <a class="choice dropdown-item" href="#">Sports Sandals</a>
            <a class="choice dropdown-item" href="#">Active T-Shirts</a>
            <a class="choice dropdown-item" href="#">Track Pants & Shorts</a>
            <a class="choice dropdown-item" href="#">Tracksuits</a>
            <a class="choice dropdown-item" href="#">Jackets & Sweatshirts</a>
            <a class="choice dropdown-item" href="#">Sports Accessories</a>
            <a class="choice dropdown-item" href="#">Swimwear</a>
            <hr class="hr-black" />
            <a class="header dropdown-item" href="#" style="color:red">Gadgets</a>
            <a class="choice dropdown-item" href="#">Smart Wearables</a>
            <a class="choice dropdown-item" href="#">Fitness Gadgets</a>
            <a class="choice dropdown-item" href="#">Headphones</a>
            <a class="choice dropdown-item" href="#">Speakers</a>
          </div>
          <div class="col-4" style="width: 240px; background-color: white; font-size: 14px">
            <a class="h dropdown-item" href="#" style="color:red;">Fashion Accessories</a>
            <a class="choice dropdown-item" href="#">Wallets</a>
            <a class="choice dropdown-item" href="#">Belts</a>
            <a class="choice dropdown-item" href="#">Perfumes & Body Mists</a>
            <a class="choice dropdown-item" href="#">Trimmers</a>
            <a class="choice dropdown-item" href="#">Deodorants</a>
            <a class="choice dropdown-item" href="#">Ties, Cufflinks & Pocket Squares</a>
            <a class="choice dropdown-item" href="#">Accessory Gift Sets</a>
            <a class="choice dropdown-item" href="#">Caps & Hats</a>
            <a class="choice dropdown-item" href="#">Mufflers, Scarves & Gloves</a>
            <a class="choice dropdown-item" href="#">Phone Cases</a>
            <a class="choice dropdown-item" href="#">Rings & Wristwear</a>
            <a class="choice dropdown-item" href="#">Helmets</a>
            <hr class="hr-black" />
            <a class="header dropdown-item" href="#" style="color:red">Bags & Backpacks</a>
            <a class="header dropdown-item" href="#" style="color:red">Luggages & Trolleys</a>
          </div>
          </div>
        </div>
      </div>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            
          
          
          <div class="dropdown">
            <button class="dropbtn" style="font-size: 13px; color: rgb(45, 45, 45);
            background-color: #ffffff; color: black; padding: 16px; font-size: 13px; border: none;">
              <strong>WOMEN</strong></button>
              
            <div class="dropdown-content">
              <div class="row justify-content-start" style="width:1200px">
                <div class="col-2"style="width 240px; background-color: white; font-size: 14px">
                <a class="h dropdown-item" href="#" style="color: rgb(255, 88, 116)">Topwear</a>
                <a class="choice dropdown-item" href="#">Kurtas & Suits</a>
                <a class="choice dropdown-item" href="#">Kurtis; Tunics & Tops</a>
                <a class="choice dropdown-item" href="#">Sarees</a>
                <a class="choice dropdown-item" href="#">Ethnic Wear</a>
                <a class="choice dropdown-item" href="#">Leggings, Salwars & Churidars</a>
                <a class="choice dropdown-item" href="#">Skirts & Palazzos</a>
                <a class="choice dropdown-item" href="#">Dress Materials</a>
                <a class="choice dropdown-item" href="#">Lehenga Cholis</a>
                <a class="choice dropdown-item" href="#">Dupattas & Shawls</a>
                <a class="choice dropdown-item" href="#">Jackets</a>
                <hr class="dropdown-divider">
                <a class="header dropdown-item" href="#" style="color: rgb(255, 88, 116)">Belts, Scarves & More</a>
                <a class="choice dropdown-item" href="#" style="color: rgb(255, 88, 116)">Watches & Wearables</a>
              </div>
              <div class="col-2"style="width 240px; background-color: white; font-size: 14px">
                <a class="h dropdown-item" href="#" style="color: rgb(255, 88, 116)">Topwear</a>
                <a class="choice dropdown-item" href="#">Kurtas & Suits</a>
                <a class="choice dropdown-item" href="#">Kurtis; Tunics & Tops</a>
                <a class="choice dropdown-item" href="#">Sarees</a>
                <a class="choice dropdown-item" href="#">Ethnic Wear</a>
                <a class="choice dropdown-item" href="#">Leggings, Salwars & Churidars</a>
                <a class="choice dropdown-item" href="#">Skirts & Palazzos</a>
                <a class="choice dropdown-item" href="#">Dress Materials</a>
                <a class="choice dropdown-item" href="#">Lehenga Cholis</a>
                <a class="choice dropdown-item" href="#">Dupattas & Shawls</a>
                <a class="choice dropdown-item" href="#">Jackets</a>
                <hr class="dropdown-divider">
                <a class="header dropdown-item" href="#" style="color: rgb(255, 88, 116)">Belts, Scarves & More</a>
                <a class="choice dropdown-item" href="#" style="color: rgb(255, 88, 116)">Watches & Wearables</a>
              </div>
              <div class="col-2"style="width 240px; background-color: white; font-size: 14px">
                <a class="h dropdown-item" href="#" style="color: rgb(255, 88, 116)">Topwear</a>
                <a class="choice dropdown-item" href="#">Kurtas & Suits</a>
                <a class="choice dropdown-item" href="#">Kurtis; Tunics & Tops</a>
                <a class="choice dropdown-item" href="#">Sarees</a>
                <a class="choice dropdown-item" href="#">Ethnic Wear</a>
                <a class="choice dropdown-item" href="#">Leggings, Salwars & Churidars</a>
                <a class="choice dropdown-item" href="#">Skirts & Palazzos</a>
                <a class="choice dropdown-item" href="#">Dress Materials</a>
                <a class="choice dropdown-item" href="#">Lehenga Cholis</a>
                <a class="choice dropdown-item" href="#">Dupattas & Shawls</a>
                <a class="choice dropdown-item" href="#">Jackets</a>
                <hr class="dropdown-divider">
                <a class="header dropdown-item" href="#" style="color: rgb(255, 88, 116)">Belts, Scarves & More</a>
                <a class="choice dropdown-item" href="#" style="color: rgb(255, 88, 116)">Watches & Wearables</a>
              </div>
              <div class="col-2"style="width 240px; background-color: white; font-size: 14px">
                <a class="h dropdown-item" href="#" style="color: rgb(255, 88, 116)">Topwear</a>
                <a class="choice dropdown-item" href="#">Kurtas & Suits</a>
                <a class="choice dropdown-item" href="#">Kurtis; Tunics & Tops</a>
                <a class="choice dropdown-item" href="#">Sarees</a>
                <a class="choice dropdown-item" href="#">Ethnic Wear</a>
                <a class="choice dropdown-item" href="#">Leggings, Salwars & Churidars</a>
                <a class="choice dropdown-item" href="#">Skirts & Palazzos</a>
                <a class="choice dropdown-item" href="#">Dress Materials</a>
                <a class="choice dropdown-item" href="#">Lehenga Cholis</a>
                <a class="choice dropdown-item" href="#">Dupattas & Shawls</a>
                <a class="choice dropdown-item" href="#">Jackets</a>
                <hr class="dropdown-divider">
                <a class="header dropdown-item" href="#" style="color: rgb(255, 88, 116)">Belts, Scarves & More</a>
                <a class="choice dropdown-item" href="#" style="color: rgb(255, 88, 116)">Watches & Wearables</a>
              </div>
              <div class="col-2"style="width 240px; background-color: white; font-size: 14px">
                <a class="h dropdown-item" href="#" style="color: rgb(255, 88, 116)">Topwear</a>
                <a class="choice dropdown-item" href="#">Kurtas & Suits</a>
                <a class="choice dropdown-item" href="#">Kurtis; Tunics & Tops</a>
                <a class="choice dropdown-item" href="#">Sarees</a>
                <a class="choice dropdown-item" href="#">Ethnic Wear</a>
                <a class="choice dropdown-item" href="#">Leggings, Salwars & Churidars</a>
                <a class="choice dropdown-item" href="#">Skirts & Palazzos</a>
                <a class="choice dropdown-item" href="#">Dress Materials</a>
                <a class="choice dropdown-item" href="#">Lehenga Cholis</a>
                <a class="choice dropdown-item" href="#">Dupattas & Shawls</a>
                <a class="choice dropdown-item" href="#">Jackets</a>
                <hr class="dropdown-divider">
                <a class="header dropdown-item" href="#" style="color: rgb(255, 88, 116)">Belts, Scarves & More</a>
                <a class="choice dropdown-item" href="#" style="color: rgb(255, 88, 116)">Watches & Wearables</a>
              </div>
            </div>
            </div>
          </div>
          <div class="dropdown">
            <button class="dropbtn" style="font-size: 13px; color: rgb(45, 45, 45);
            background-color: #ffffff; color: black; padding: 16px; font-size: 13px; border: none;">
              <strong>KIDS</strong></button>
            <div class="dropdown-content">
              <div class="row justify-content-start" style="width:1200px">
                <div class="col-2"style="width 240px; background-color: white; font-size: 14px">
                <a class="h dropdown-item" href="#" style="color:orange;">Boys Clothing</a>
                <a class="choice dropdown-item" href="#">T-Shirts</a>
                <a class="choice dropdown-item" href="#">Shirts</a>
                <a class="choice dropdown-item" href="#">Shorts</a>
                <a class="choice dropdown-item" href="#">Jeans</a>
                <a class="choice dropdown-item" href="#">Trousers</a>
                <a class="choice dropdown-item" href="#">Clothing Sets</a>
                <a class="choice dropdown-item" href="#">Ethnic Wear</a>
                <a class="choice dropdown-item" href="#">Track Pants & Pyjamas</a>
                <a class="choice dropdown-item" href="#">Jacket, Sweater & Sweatshirts</a>
                <hr class="dropdown-divider">
                <a class="choice dropdown-item" href="#">Party Wear</a>
                <a class="choice dropdown-item" href="#">Innerwear & Thermals</a>
                <a class="choice dropdown-item" href="#">Nightware & Loungewear</a>
                <a class="choice dropdown-item" href="#">Value Packs</a>
                </div>
                <div class="col-2"style="width 240px; background-color: white; font-size: 14px">
                  <a class="h dropdown-item" href="#" style="color:orange;">Boys Clothing</a>
                  <a class="choice dropdown-item" href="#">T-Shirts</a>
                  <a class="choice dropdown-item" href="#">Shirts</a>
                  <a class="choice dropdown-item" href="#">Shorts</a>
                  <a class="choice dropdown-item" href="#">Jeans</a>
                  <a class="choice dropdown-item" href="#">Trousers</a>
                  <a class="choice dropdown-item" href="#">Clothing Sets</a>
                  <a class="choice dropdown-item" href="#">Ethnic Wear</a>
                  <a class="choice dropdown-item" href="#">Track Pants & Pyjamas</a>
                  <a class="choice dropdown-item" href="#">Jacket, Sweater & Sweatshirts</a>
                  <hr class="dropdown-divider">
                  <a class="choice dropdown-item" href="#">Party Wear</a>
                  <a class="choice dropdown-item" href="#">Innerwear & Thermals</a>
                  <a class="choice dropdown-item" href="#">Nightware & Loungewear</a>
                  <a class="choice dropdown-item" href="#">Value Packs</a>
                  </div>
                  <div class="col-2"style="width 240px; background-color: white; font-size: 14px">
                    <a class="h dropdown-item" href="#" style="color:orange;">Boys Clothing</a>
                    <a class="choice dropdown-item" href="#">T-Shirts</a>
                    <a class="choice dropdown-item" href="#">Shirts</a>
                    <a class="choice dropdown-item" href="#">Shorts</a>
                    <a class="choice dropdown-item" href="#">Jeans</a>
                    <a class="choice dropdown-item" href="#">Trousers</a>
                    <a class="choice dropdown-item" href="#">Clothing Sets</a>
                    <a class="choice dropdown-item" href="#">Ethnic Wear</a>
                    <a class="choice dropdown-item" href="#">Track Pants & Pyjamas</a>
                    <a class="choice dropdown-item" href="#">Jacket, Sweater & Sweatshirts</a>
                    <hr class="dropdown-divider">
                    <a class="choice dropdown-item" href="#">Party Wear</a>
                    <a class="choice dropdown-item" href="#">Innerwear & Thermals</a>
                    <a class="choice dropdown-item" href="#">Nightware & Loungewear</a>
                    <a class="choice dropdown-item" href="#">Value Packs</a>
                    </div>
                    <div class="col-2"style="width 240px; background-color: white; font-size: 14px">
                      <a class="h dropdown-item" href="#" style="color:orange;">Boys Clothing</a>
                      <a class="choice dropdown-item" href="#">T-Shirts</a>
                      <a class="choice dropdown-item" href="#">Shirts</a>
                      <a class="choice dropdown-item" href="#">Shorts</a>
                      <a class="choice dropdown-item" href="#">Jeans</a>
                      <a class="choice dropdown-item" href="#">Trousers</a>
                      <a class="choice dropdown-item" href="#">Clothing Sets</a>
                      <a class="choice dropdown-item" href="#">Ethnic Wear</a>
                      <a class="choice dropdown-item" href="#">Track Pants & Pyjamas</a>
                      <a class="choice dropdown-item" href="#">Jacket, Sweater & Sweatshirts</a>
                      <hr class="dropdown-divider">
                      <a class="choice dropdown-item" href="#">Party Wear</a>
                      <a class="choice dropdown-item" href="#">Innerwear & Thermals</a>
                      <a class="choice dropdown-item" href="#">Nightware & Loungewear</a>
                      <a class="choice dropdown-item" href="#">Value Packs</a>
                      </div>
                      <div class="col-2"style="width 240px; background-color: white; font-size: 14px">
                        <a class="h dropdown-item" href="#" style="color:orange;">Boys Clothing</a>
                        <a class="choice dropdown-item" href="#">T-Shirts</a>
                        <a class="choice dropdown-item" href="#">Shirts</a>
                        <a class="choice dropdown-item" href="#">Shorts</a>
                        <a class="choice dropdown-item" href="#">Jeans</a>
                        <a class="choice dropdown-item" href="#">Trousers</a>
                        <a class="choice dropdown-item" href="#">Clothing Sets</a>
                        <a class="choice dropdown-item" href="#">Ethnic Wear</a>
                        <a class="choice dropdown-item" href="#">Track Pants & Pyjamas</a>
                        <a class="choice dropdown-item" href="#">Jacket, Sweater & Sweatshirts</a>
                        <hr class="dropdown-divider">
                        <a class="choice dropdown-item" href="#">Party Wear</a>
                        <a class="choice dropdown-item" href="#">Innerwear & Thermals</a>
                        <a class="choice dropdown-item" href="#">Nightware & Loungewear</a>
                        <a class="choice dropdown-item" href="#">Value Packs</a>
                        </div>
              </div>
            </div>
          </div>
          <div class="dropdown">
            <button class="dropbtn" style="font-size: 13px; color: rgb(45, 45, 45);
            background-color: #ffffff; color: black; padding: 16px; border: none;">
              <strong>HOME & LIVING</strong></button>
            <div class="dropdown-content">
              <div class="row justify-content-start" style="width:1200px">
                <div class="col-2"style="width 240px; background-color: white; font-size: 14px">
                <a class="h dropdown-item" href="#" style="color:rgb(204, 204, 0);">Bed Linen & Furnishing</a>
                <a class="choice dropdown-item" href="#">Bed Runners</a>
                <a class="choice dropdown-item" href="#">Mattress Protectors</a>
                <a class="choice dropdown-item" href="#">Bedsheets</a>
                <a class="choice dropdown-item" href="#">Bedding Sets</a>
                <a class="choice dropdown-item" href="#">Blankets, Quilts & Dohars</a>
                <a class="choice dropdown-item" href="#">Pillows & Pillow Covers</a>
                <a class="choice dropdown-item" href="#">Bed Covers</a>
                <a class="choice dropdown-item" href="#">Diwan Sets</a>
                <a class="choice dropdown-item" href="#">Chair Pads & Covers</a>
                <a class="choice dropdown-item" href="#">Sofa Covers</a>
                <hr class="dropdown-divider">
                <a class="header dropdown-item" href="#" style="color:rgb(204, 204, 0);">Flooring</a>
                <a class="choice dropdown-item" href="#">Floor Runners</a>
                <a class="choice dropdown-item" href="#">Carpets</a>
                <a class="choice dropdown-item" href="#">Floor Mats & Dhurries</a>
                <a class="choice dropdown-item" href="#">Door Mats</a>
                </div>
                <div class="col-2"style="width 240px; background-color: white; font-size: 14px">
                  <a class="h dropdown-item" href="#" style="color:rgb(204, 204, 0);">Bed Linen & Furnishing</a>
                  <a class="choice dropdown-item" href="#">Bed Runners</a>
                  <a class="choice dropdown-item" href="#">Mattress Protectors</a>
                  <a class="choice dropdown-item" href="#">Bedsheets</a>
                  <a class="choice dropdown-item" href="#">Bedding Sets</a>
                  <a class="choice dropdown-item" href="#">Blankets, Quilts & Dohars</a>
                  <a class="choice dropdown-item" href="#">Pillows & Pillow Covers</a>
                  <a class="choice dropdown-item" href="#">Bed Covers</a>
                  <a class="choice dropdown-item" href="#">Diwan Sets</a>
                  <a class="choice dropdown-item" href="#">Chair Pads & Covers</a>
                  <a class="choice dropdown-item" href="#">Sofa Covers</a>
                  <hr class="dropdown-divider">
                  <a class="header dropdown-item" href="#" style="color:rgb(204, 204, 0);">Flooring</a>
                  <a class="choice dropdown-item" href="#">Floor Runners</a>
                  <a class="choice dropdown-item" href="#">Carpets</a>
                  <a class="choice dropdown-item" href="#">Floor Mats & Dhurries</a>
                  <a class="choice dropdown-item" href="#">Door Mats</a>
                  </div>
                  <div class="col-2"style="width 240px; background-color: white; font-size: 14px">
                    <a class="h dropdown-item" href="#" style="color:rgb(204, 204, 0);">Bed Linen & Furnishing</a>
                    <a class="choice dropdown-item" href="#">Bed Runners</a>
                    <a class="choice dropdown-item" href="#">Mattress Protectors</a>
                    <a class="choice dropdown-item" href="#">Bedsheets</a>
                    <a class="choice dropdown-item" href="#">Bedding Sets</a>
                    <a class="choice dropdown-item" href="#">Blankets, Quilts & Dohars</a>
                    <a class="choice dropdown-item" href="#">Pillows & Pillow Covers</a>
                    <a class="choice dropdown-item" href="#">Bed Covers</a>
                    <a class="choice dropdown-item" href="#">Diwan Sets</a>
                    <a class="choice dropdown-item" href="#">Chair Pads & Covers</a>
                    <a class="choice dropdown-item" href="#">Sofa Covers</a>
                    <hr class="dropdown-divider">
                    <a class="header dropdown-item" href="#" style="color:rgb(204, 204, 0);">Flooring</a>
                    <a class="choice dropdown-item" href="#">Floor Runners</a>
                    <a class="choice dropdown-item" href="#">Carpets</a>
                    <a class="choice dropdown-item" href="#">Floor Mats & Dhurries</a>
                    <a class="choice dropdown-item" href="#">Door Mats</a>
                    </div>
                    <div class="col-2"style="width 240px; background-color: white; font-size: 14px">
                      <a class="h dropdown-item" href="#" style="color:rgb(204, 204, 0);">Bed Linen & Furnishing</a>
                      <a class="choice dropdown-item" href="#">Bed Runners</a>
                      <a class="choice dropdown-item" href="#">Mattress Protectors</a>
                      <a class="choice dropdown-item" href="#">Bedsheets</a>
                      <a class="choice dropdown-item" href="#">Bedding Sets</a>
                      <a class="choice dropdown-item" href="#">Blankets, Quilts & Dohars</a>
                      <a class="choice dropdown-item" href="#">Pillows & Pillow Covers</a>
                      <a class="choice dropdown-item" href="#">Bed Covers</a>
                      <a class="choice dropdown-item" href="#">Diwan Sets</a>
                      <a class="choice dropdown-item" href="#">Chair Pads & Covers</a>
                      <a class="choice dropdown-item" href="#">Sofa Covers</a>
                      <hr class="dropdown-divider">
                      <a class="header dropdown-item" href="#" style="color:rgb(204, 204, 0);">Flooring</a>
                      <a class="choice dropdown-item" href="#">Floor Runners</a>
                      <a class="choice dropdown-item" href="#">Carpets</a>
                      <a class="choice dropdown-item" href="#">Floor Mats & Dhurries</a>
                      <a class="choice dropdown-item" href="#">Door Mats</a>
                      </div>
                      <div class="col-2"style="width 240px; background-color: white; font-size: 14px">
                        <a class="h dropdown-item" href="#" style="color:rgb(204, 204, 0);">Bed Linen & Furnishing</a>
                        <a class="choice dropdown-item" href="#">Bed Runners</a>
                        <a class="choice dropdown-item" href="#">Mattress Protectors</a>
                        <a class="choice dropdown-item" href="#">Bedsheets</a>
                        <a class="choice dropdown-item" href="#">Bedding Sets</a>
                        <a class="choice dropdown-item" href="#">Blankets, Quilts & Dohars</a>
                        <a class="choice dropdown-item" href="#">Pillows & Pillow Covers</a>
                        <a class="choice dropdown-item" href="#">Bed Covers</a>
                        <a class="choice dropdown-item" href="#">Diwan Sets</a>
                        <a class="choice dropdown-item" href="#">Chair Pads & Covers</a>
                        <a class="choice dropdown-item" href="#">Sofa Covers</a>
                        <hr class="dropdown-divider">
                        <a class="header dropdown-item" href="#" style="color:rgb(204, 204, 0);">Flooring</a>
                        <a class="choice dropdown-item" href="#">Floor Runners</a>
                        <a class="choice dropdown-item" href="#">Carpets</a>
                        <a class="choice dropdown-item" href="#">Floor Mats & Dhurries</a>
                        <a class="choice dropdown-item" href="#">Door Mats</a>
                        </div>
                </div>
            </div>
          </div>
          <div class="dropdown">
            <button class="dropbtn" style="font-size: 13px; color: rgb(45, 45, 45);
             background-color: #ffffff; color: black; padding: 16px; border: none;">
             <strong>BEAUTY</strong></button>
            <div class="dropdown-content">
              <div class="row justify-content-start" style="width:1200px">
                <div class="col-2"style="width 240px; background-color: white; font-size: 14px">
                <a class="h dropdown-item" href="#" style="color:turquoise;">Makeup</a>
                <a class="choice dropdown-item" href="#">Lipstick</a>
                <a class="choice dropdown-item" href="#">Lip Gloss</a>
                <a class="choice dropdown-item" href="#">Lip Liner</a>
                <a class="choice dropdown-item" href="#">Mascara</a>
                <a class="choice dropdown-item" href="#">Eyeliner</a>
                <a class="choice dropdown-item" href="#">Kajal</a>
                <a class="choice dropdown-item" href="#">Eyeshadow</a>
                <a class="choice dropdown-item" href="#">Foundation</a>
                <a class="choice dropdown-item" href="#">Primer</a>
                <hr class="dropdown-divider">
                <a class="choice dropdown-item" href="#">Concealer</a>
                <a class="choice dropdown-item" href="#">Compact</a>
                <a class="choice dropdown-item" href="#">Nail Polish</a>
                </div>
                <div class="col-2"style="width 240px; background-color: white; font-size: 14px">
                  <a class="h dropdown-item" href="#" style="color:turquoise;">Makeup</a>
                  <a class="choice dropdown-item" href="#">Lipstick</a>
                  <a class="choice dropdown-item" href="#">Lip Gloss</a>
                  <a class="choice dropdown-item" href="#">Lip Liner</a>
                  <a class="choice dropdown-item" href="#">Mascara</a>
                  <a class="choice dropdown-item" href="#">Eyeliner</a>
                  <a class="choice dropdown-item" href="#">Kajal</a>
                  <a class="choice dropdown-item" href="#">Eyeshadow</a>
                  <a class="choice dropdown-item" href="#">Foundation</a>
                  <a class="choice dropdown-item" href="#">Primer</a>
                  <hr class="dropdown-divider">
                  <a class="choice dropdown-item" href="#">Concealer</a>
                  <a class="choice dropdown-item" href="#">Compact</a>
                  <a class="choice dropdown-item" href="#">Nail Polish</a>
                  </div>
                  <div class="col-2"style="width 240px; background-color: white; font-size: 14px">
                    <a class="h dropdown-item" href="#" style="color:turquoise;">Makeup</a>
                    <a class="choice dropdown-item" href="#">Lipstick</a>
                    <a class="choice dropdown-item" href="#">Lip Gloss</a>
                    <a class="choice dropdown-item" href="#">Lip Liner</a>
                    <a class="choice dropdown-item" href="#">Mascara</a>
                    <a class="choice dropdown-item" href="#">Eyeliner</a>
                    <a class="choice dropdown-item" href="#">Kajal</a>
                    <a class="choice dropdown-item" href="#">Eyeshadow</a>
                    <a class="choice dropdown-item" href="#">Foundation</a>
                    <a class="choice dropdown-item" href="#">Primer</a>
                    <hr class="dropdown-divider">
                    <a class="choice dropdown-item" href="#">Concealer</a>
                    <a class="choice dropdown-item" href="#">Compact</a>
                    <a class="choice dropdown-item" href="#">Nail Polish</a>
                    </div>
                    <div class="col-2"style="width 240px; background-color: white; font-size: 14px">
                      <a class="h dropdown-item" href="#" style="color:turquoise;">Makeup</a>
                      <a class="choice dropdown-item" href="#">Lipstick</a>
                      <a class="choice dropdown-item" href="#">Lip Gloss</a>
                      <a class="choice dropdown-item" href="#">Lip Liner</a>
                      <a class="choice dropdown-item" href="#">Mascara</a>
                      <a class="choice dropdown-item" href="#">Eyeliner</a>
                      <a class="choice dropdown-item" href="#">Kajal</a>
                      <a class="choice dropdown-item" href="#">Eyeshadow</a>
                      <a class="choice dropdown-item" href="#">Foundation</a>
                      <a class="choice dropdown-item" href="#">Primer</a>
                      <hr class="dropdown-divider">
                      <a class="choice dropdown-item" href="#">Concealer</a>
                      <a class="choice dropdown-item" href="#">Compact</a>
                      <a class="choice dropdown-item" href="#">Nail Polish</a>
                      </div>
                      <div class="col-2"style="width 240px; background-color: white; font-size: 14px">
                        <a class="h dropdown-item" href="#" style="color:turquoise;">Makeup</a>
                        <a class="choice dropdown-item" href="#">Lipstick</a>
                        <a class="choice dropdown-item" href="#">Lip Gloss</a>
                        <a class="choice dropdown-item" href="#">Lip Liner</a>
                        <a class="choice dropdown-item" href="#">Mascara</a>
                        <a class="choice dropdown-item" href="#">Eyeliner</a>
                        <a class="choice dropdown-item" href="#">Kajal</a>
                        <a class="choice dropdown-item" href="#">Eyeshadow</a>
                        <a class="choice dropdown-item" href="#">Foundation</a>
                        <a class="choice dropdown-item" href="#">Primer</a>
                        <hr class="dropdown-divider">
                        <a class="choice dropdown-item" href="#">Concealer</a>
                        <a class="choice dropdown-item" href="#">Compact</a>
                        <a class="choice dropdown-item" href="#">Nail Polish</a>
                        </div>
                        <div class="col-2"style="width 240px; background-color: white; font-size: 14px">
                          <a class="h dropdown-item" href="#" style="color:turquoise;">Makeup</a>
                          <a class="choice dropdown-item" href="#">Lipstick</a>
                          <a class="choice dropdown-item" href="#">Lip Gloss</a>
                          <a class="choice dropdown-item" href="#">Lip Liner</a>
                          <a class="choice dropdown-item" href="#">Mascara</a>
                          <a class="choice dropdown-item" href="#">Eyeliner</a>
                          <a class="choice dropdown-item" href="#">Kajal</a>
                          <a class="choice dropdown-item" href="#">Eyeshadow</a>
                          <a class="choice dropdown-item" href="#">Foundation</a>
                          <a class="choice dropdown-item" href="#">Primer</a>
                          <hr class="dropdown-divider">
                          <a class="choice dropdown-item" href="#">Concealer</a>
                          <a class="choice dropdown-item" href="#">Compact</a>
                          <a class="choice dropdown-item" href="#">Nail Polish</a>
                          </div>
              </div>
            </div>
          </div>
          <div class="dropdown">
            <button class="dropbtn" style="font-size: 13px; color: rgb(45, 45, 45);
             background-color: #ffffff; color: black; padding: 16px; border: none;">
             <strong>STUDIO</strong></button>
            <div class="dropdown-content" style="background-color: white;">
              <p>Your daily inspiration for everything fasion</p>  
              <!-- 
                  Container on top for studio logo
                  Place 4 images in container
                -->
                <button class="btn btn-outline-success" type="submit" style="color:black; border-color: black;
               background-color: white; font-size: 14px;"><strong>EXPLORE STUDIO</strong></button>
            </div>
          </div>

        
        </ul>

        
        <form class="d-flex" role="search">
          
          <input class="search form-control me-2" style="  width: 500px; color: gray; background: rgb(243, 243, 243); font-size: small; margin-left: 20px;"
           type="search" placeholder="Search for products, brands and more" aria-label="Search">
        </form>
        
      <div class="rightcon container" style="width: 240px">
        <div class="dropdown">
          <div style="padding-left: 17px;">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
              <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3Zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z"/>
            </svg>
          </div>
          <button class="dropbtn" style="font-size: 12px; color: rgb(45, 45, 45); border: none; background-color: #ffffff;" ><strong>Profile</strong></button>
          <div class="dropdown-content"  style="background-color: white;">
              <p style="padding: 6px;font-size: 12px;"><strong>Welcome</strong></p>
              <p style="padding: 6px; font-size: 12px;">To access account and manage orders</p>
              <button class="profilebtn btn btn-outline-success" type="submit" style="color:rgb(253, 48, 82);
               background-color: white;">LOGIN/SIGNUP</button>
              <a class="choice dropdown-item" href="#">Orders</a>
              <a class="choice dropdown-item" href="#">Wishlist</a>
              <a class="choice dropdown-item" href="#">Gift Cards</a>
              <a class="choice dropdown-item" href="#">Contact Us</a>
              <a class="choice dropdown-item" href="#">Myntra Insider</a>
              <hr class="dropdown-divider">
              <a class="choice dropdown-item" href="#">Myntra Credit</a>
              <a class="choice dropdown-item" href="#">Coupons</a>
              <a class="choice dropdown-item" href="#">Saved Cards</a>
              <a class="choice dropdown-item" href="#">Saved VPA</a>
              <a class="choice dropdown-item" href="#">Saved Addresses</a>
          </div>
        </div>
          <!-- <button class="btn btn-outline-success" type="submit">Wishlist</button>
          <button class="btn btn-outline-success" type="submit">Bag</button> -->
          

          <div class="dropdown">
            <div style="padding-left: 17px;">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
               <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>
              </svg>
              </div>
            <button class="dropbtn" style="font-size: 12px; color: rgb(45, 45, 45); border: none; background-color: #ffffff;"><strong>Wishlist</strong></button>
          </div>
          <div class="dropdown">
            <div style="padding-left: 10px;">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-handbag" viewBox="0 0 16 16">
                <path d="M8 1a2 2 0 0 1 2 2v2H6V3a2 2 0 0 1 2-2zm3 4V3a3 3 0 1 0-6 0v2H3.36a1.5 1.5 0 0 0-1.483 1.277L.85 13.13A2.5 2.5 0 0 0 3.322 16h9.355a2.5 2.5 0 0 0 2.473-2.87l-1.028-6.853A1.5 1.5 0 0 0 12.64 5H11zm-1 1v1.5a.5.5 0 0 0 1 0V6h1.639a.5.5 0 0 1 .494.426l1.028 6.851A1.5 1.5 0 0 1 12.678 15H3.322a1.5 1.5 0 0 1-1.483-1.723l1.028-6.851A.5.5 0 0 1 3.36 6H5v1.5a.5.5 0 1 0 1 0V6h4z"/>
              </svg>
              </div>
            <button class="dropbtn" style="font-size: 12px; color: rgb(45, 45, 45); border: none; background-color: #ffffff;"><strong>Bag</strong></button>
          </div>
      </div>


          <!--  <li class="nav-item">
            <button class="btn btn-outline-success" type="submit">Bag</button>
          </li> -->
      </div>
    </div>
  </nav>