<nav class="navbar navbar-expand-lg bg-body-tertiary" style="margin: 10px;">
    <div class="container-fluid">
      <div class="LOGOcon container" style="width: 150px;">
        <div id="banner"><img src="../assets/myntra-logo-m-png-3.png" class="logo" style="width: 100%"></div>
      </div>
      
      

     
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="dropdown">
        <button class="dropbtn" style="font-size: 13px; color: rgb(45, 45, 45);
        background-color: #ffffff; color: black; padding: 16px; font-size: 13px; border: none;">
        <strong>MEN</strong></button>
        <div class="dropdown-content" style="background-color: white;">
            
            <a class="h dropdown-item" href="#" style="color:red;">Topwear</a>
            <a class="choice dropdown-item" href="#">T-Shirts</a>
            <a class="choice dropdown-item" href="#">Casual Shirts</a>
            <a class="choice dropdown-item" href="#">Formal Shirts</a>
            <a class="choice dropdown-item" href="#">Sweatshirts</a>
            <a class="choice dropdown-item" href="#">Sweaters</a>
            <a class="choice dropdown-item" href="#">Jackets</a>
            <a class="choice dropdown-item" href="#">Blazers & Coats</a>
            <a class="choice dropdown-item" href="#">Suits</a>
            <a class="choice dropdown-item" href="#">Rain Jackets</a>
            <hr class="dropdown-divider" style="color: gray;">
            <a class="header dropdown-item" href="#" style="color:red">Indian & Festive Wear</a>
            <a class="choice dropdown-item" href="#">Kurtas & Kurta Sets</a>
            <a class="choice dropdown-item" href="#">Sherwanis</a>
            <a class="choice dropdown-item" href="#">Nehru Jackets</a>
            <a class="choice dropdown-item" href="#">Dhotis</a>
        </div>
      </div>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            
          
          
          <div class="dropdown">
            <button class="dropbtn" style="font-size: 13px; color: rgb(45, 45, 45);
            background-color: #ffffff; color: black; padding: 16px; font-size: 13px; border: none;">
              <strong>WOMEN</strong></button>
            <div class="dropdown-content" style="background-color: white;">
                
                <a class="h dropdown-item" href="#" style="color: rgb(255, 88, 116)">Topwear</a>
                <a class="choice dropdown-item" href="#">Kurtas & Suits</a>
                <a class="choice dropdown-item" href="#">Kurtis; Tunics & Tops</a>
                <a class="choice dropdown-item" href="#">Sarees</a>
                <a class="choice dropdown-item" href="#">Ethnic Wear</a>
                <a class="choice dropdown-item" href="#">Leggings, Salwars & CHuridars</a>
                <a class="choice dropdown-item" href="#">Skirts & Palazzos</a>
                <a class="choice dropdown-item" href="#">Dress Materials</a>
                <a class="choice dropdown-item" href="#">Lehenga Cholis</a>
                <a class="choice dropdown-item" href="#">Dupattas & Shawls</a>
                <a class="choice dropdown-item" href="#">Jackets</a>
                <hr class="dropdown-divider">
                <a class="header dropdown-item" href="#" style="color: rgb(255, 88, 116)">Belts, Scarves & More</a>
                <a class="choice dropdown-item" href="#" style="color: rgb(255, 88, 116)">Watches & Wearables</a>
            </div>
          </div>
          <div class="dropdown">
            <button class="dropbtn" style="font-size: 13px; color: rgb(45, 45, 45);
            background-color: #ffffff; color: black; padding: 16px; font-size: 13px; border: none;">
              <strong>KIDS</strong></button>
            <div class="dropdown-content" style="background-color: white;">
                
                <a class="h dropdown-item" href="#" style="color:orange;">Boys Clothing</a>
                <a class="choice dropdown-item" href="#">T-Shirts</a>
                <a class="choice dropdown-item" href="#">Shirts</a>
                <a class="choice dropdown-item" href="#">Shorts</a>
                <a class="choice dropdown-item" href="#">Jeans</a>
                <a class="choice dropdown-item" href="#">Trousers</a>
                <a class="choice dropdown-item" href="#">Clothing Sets</a>
                <a class="choice dropdown-item" href="#">Ethnic Wear</a>
                <a class="choice dropdown-item" href="#">Track Pants & Pyjamas</a>
                <a class="choice dropdown-item" href="#">Jacket, Sweater & Sweatshirts</a>
                <hr class="dropdown-divider">
                <a class="choice dropdown-item" href="#">Party Wear</a>
                <a class="choice dropdown-item" href="#">Innerwear & Thermals</a>
                <a class="choice dropdown-item" href="#">Nightware & Loungewear</a>
                <a class="choice dropdown-item" href="#">Value Packs</a>
            </div>
          </div>
          <div class="dropdown">
            <button class="dropbtn" style="font-size: 13px; color: rgb(45, 45, 45);
            background-color: #ffffff; color: black; padding: 16px; border: none;">
              <strong>HOME & LIVING</strong></button>
            <div class="dropdown-content" style="background-color: white;">
                
                <a class="h dropdown-item" href="#" style="color:rgb(204, 204, 0);">Bed Linen & Furnishing</a>
                <a class="choice dropdown-item" href="#">Bed Runners</a>
                <a class="choice dropdown-item" href="#">Mattress Protectors</a>
                <a class="choice dropdown-item" href="#">Bedsheets</a>
                <a class="choice dropdown-item" href="#">Bedding Sets</a>
                <a class="choice dropdown-item" href="#">Blankets, Quilts & Dohars</a>
                <a class="choice dropdown-item" href="#">Pillows & Pillow Covers</a>
                <a class="choice dropdown-item" href="#">Bed Covers</a>
                <a class="choice dropdown-item" href="#">Diwan Sets</a>
                <a class="choice dropdown-item" href="#">Chair Pads & Covers</a>
                <a class="choice dropdown-item" href="#">Sofa Covers</a>
                <hr class="dropdown-divider">
                <a class="header dropdown-item" href="#" style="color:rgb(204, 204, 0);">Flooring</a>
                <a class="choice dropdown-item" href="#">Floor Runners</a>
                <a class="choice dropdown-item" href="#">Carpets</a>
                <a class="choice dropdown-item" href="#">Floor Mats & Dhurries</a>
                <a class="choice dropdown-item" href="#">Door Mats</a>
            </div>
          </div>
          <div class="dropdown">
            <button class="dropbtn" style="font-size: 13px; color: rgb(45, 45, 45);
             background-color: #ffffff; color: black; padding: 16px; border: none;">
             <strong>BEAUTY</strong></button>
            <div class="dropdown-content" style="background-color: white;">
                
                <a class="h dropdown-item" href="#" style="color:turquoise;">Makeup</a>
                <a class="choice dropdown-item" href="#">Lipstick</a>
                <a class="choice dropdown-item" href="#">Lip Gloss</a>
                <a class="choice dropdown-item" href="#">Lip Liner</a>
                <a class="choice dropdown-item" href="#">Mascara</a>
                <a class="choice dropdown-item" href="#">Eyeliner</a>
                <a class="choice dropdown-item" href="#">Kajal</a>
                <a class="choice dropdown-item" href="#">Eyeshadow</a>
                <a class="choice dropdown-item" href="#">Foundation</a>
                <a class="choice dropdown-item" href="#">Primer</a>
                <hr class="dropdown-divider">
                <a class="choice dropdown-item" href="#">Concealer</a>
                <a class="choice dropdown-item" href="#">Compact</a>
                <a class="choice dropdown-item" href="#">Nail Polish</a>
            </div>
          </div>
          <div class="dropdown">
            <button class="dropbtn" style="font-size: 13px; color: rgb(45, 45, 45);
             background-color: #ffffff; color: black; padding: 16px; border: none;">
             <strong>STUDIO</strong></button>
            <div class="dropdown-content" style="background-color: white;">
              <p>Your daily inspiration for everything fasion</p>  
              <!-- 
                  Container on top for studio logo
                  Place 4 images in container
                -->
                <button class="btn btn-outline-success" type="submit" style="color:black; border-color: black;
               background-color: white; font-size: 14px;"><strong>EXPLORE STUDIO</strong></button>
            </div>
          </div>

        
        </ul>

        
        <form class="d-flex" role="search">
          <input class="search form-control me-2" style="  width: 500px; color: gray; background: rgb(243, 243, 243); font-size: small; margin-left: 20px;"
           type="search" placeholder="Search for products, brands and more" aria-label="Search">
        </form>
        
      <div class="rightcon container" style="width: 240px">
        <div class="dropdown">
          <button class="dropbtn" style="font-size: 12px; color: rgb(45, 45, 45); border: none; background-color: #ffffff;"><strong>Profile</strong></button>
          <div class="dropdown-content"  style="background-color: white;">
              <p style="padding: 6px;font-size: 12px;"><strong>Welcome</strong></p>
              <p style="padding: 6px; font-size: 12px;">To access account and manage orders</p>
              <button class="profilebtn btn btn-outline-success" type="submit" style="color:rgb(253, 48, 82);
               background-color: white;">LOGIN/SIGNUP</button>
              <a class="choice dropdown-item" href="#">Orders</a>
              <a class="choice dropdown-item" href="#">Wishlist</a>
              <a class="choice dropdown-item" href="#">Gift Cards</a>
              <a class="choice dropdown-item" href="#">Contact Us</a>
              <a class="choice dropdown-item" href="#">Myntra Insider</a>
              <hr class="dropdown-divider">
              <a class="choice dropdown-item" href="#">Myntra Credit</a>
              <a class="choice dropdown-item" href="#">Coupons</a>
              <a class="choice dropdown-item" href="#">Saved Cards</a>
              <a class="choice dropdown-item" href="#">Saved VPA</a>
              <a class="choice dropdown-item" href="#">Saved Addresses</a>
          </div>
        </div>
          <!-- <button class="btn btn-outline-success" type="submit">Wishlist</button>
          <button class="btn btn-outline-success" type="submit">Bag</button> -->
  

          <div class="dropdown">
            <button class="dropbtn" style="font-size: 12px; color: rgb(45, 45, 45); border: none; background-color: #ffffff;"><strong>Wishlist</strong></button>
          </div>
          <div class="dropdown">
            <button class="dropbtn" style="font-size: 12px; color: rgb(45, 45, 45); border: none; background-color: #ffffff;"><strong>Bag</strong></button>
          </div>
      </div>


          <!--  <li class="nav-item">
            <button class="btn btn-outline-success" type="submit">Bag</button>
          </li> -->
      </div>
    </div>
  </nav>