<!--<div class="row justify-content-start">
    <div type="button" style="width: 11.85rem;">
        <img src=".\assets\pants1.webp" style="width: 189.9px; height: 285.63" alt="...">
    </div>
</div> -->
<!--<div class="card" style="width: 210px; height: 359.8px">
    <img src=".\assets\pants1.webp" class="card-img-top"  style="width: 210px; height: 280px" type="button" alt="Item 1">
    <div class="card-body" style="width: 210px; height: 67.8px; padding-bottom: 10px;">
      <p class="card-text" style="width: 190px; height: 3px; font-size: ;"><strong>Mast & Harbour{{price}}</strong></p>
      <p class="card-text" style="width: 190px; height: 8px; font-size: 14px;">Men Slim Fit Jeans</p>
      <p class="card-text" style="font-size: 14px"><strong>Rs. 989 </strong>Rs. 2199 (55% off)</p>
    </div>
  </div>-->
  <div class="card" style="width: 210px; height: 359.8px; margin: 20px; border-radius: 0%;">
    <img src={{img}} class="card-img-top"  style="width: 209px; height: 280px; border-radius: 0%;" type="button" alt={{imgDescription}}>
    <div class="card-body" style="width: 210px; height: 67.8px; padding-bottom: 10px;">
      <p class="card-text" style="width: 190px; height: 3px;"><strong>{{brand}}</strong></p>
      <p class="card-text" style="width: 190px; height: 8px; font-size: 14px;">{{description}}</p>
      <p class="card-text" style="font-size: 14px">
        <strong>{{currprice}} Rs. </strong>
        <span style="text-decoration: line-through; font-size: 12px">{{oldprice}} Rs.</span>
        <span style="color:red"> {{discount}}% OFF</span>
      </p>
    </div>
  </div>
