<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="Bottom container" href="#" style="font-size: 11px; color: rgb(45, 45, 45); width: 4000px;
        height: 200px; margin-left: 200px;">
        

        <ul>
          <p><strong>POPULAR SEARCHES</strong></p>
            <li style="color: gray; font-size: 14px;">
              <button class="btn success" style="color: gray; font-size: 14px; padding: 0px;">Makeup |</button>
              <button class="btn success" style="color: gray; font-size: 14px; padding: 0px;"> Dresses For Girls |</button>
              <button class="btn success" style="color: gray; font-size: 14px; padding: 0px;"> T-Shirts |</button>
              <button class="btn success" style="color: gray; font-size: 14px; padding: 0px;"> Sandals |</button> 
              <button class="btn success" style="color: gray; font-size: 14px; padding: 0px;"> Headphones |</button> 
              <button class="btn success" style="color: gray; font-size: 14px; padding: 0px;"> Babydolls |</button>
              <button class="btn success" style="color: gray; font-size: 14px; padding: 0px;"> Blazers For Men |</button>
              <button class="btn success" style="color: gray; font-size: 14px; padding: 0px;"> Handbags |</button>
              <button class="btn success" style="color: gray; font-size: 14px; padding: 0px;"> Ladies |</button>
              <button class="btn success" style="color: gray; font-size: 14px; padding: 0px;"> Watches |</button>
              <button class="btn success" style="color: gray; font-size: 14px; padding: 0px;"> Bags |</button>
              <button class="btn success" style="color: gray; font-size: 14px; padding: 0px;"> Sport Shoes |</button>
              <button class="btn success" style="color: gray; font-size: 14px; padding: 0px;"> Reebok Shoes |</button>
              <button class="btn success" style="color: gray; font-size: 14px; padding: 0px;"> Puma Shoes |</button>          
            </li>
            <li>
            <button class="btn success" style="color: gray; font-size: 14px; padding: 0px;">Boxers |</button>
              <button class="btn success" style="color: gray; font-size: 14px; padding: 0px;"> Wallets |</button>
              <button class="btn success" style="color: gray; font-size: 14px; padding: 0px;"> Tops |</button>
              <button class="btn success" style="color: gray; font-size: 14px; padding: 0px;"> Earrings |</button> 
              <button class="btn success" style="color: gray; font-size: 14px; padding: 0px;"> Fastrack Watches |</button> 
              <button class="btn success" style="color: gray; font-size: 14px; padding: 0px;"> Kurtis |</button>
              <button class="btn success" style="color: gray; font-size: 14px; padding: 0px;"> Nike |</button>
              <button class="btn success" style="color: gray; font-size: 14px; padding: 0px;"> Smart Watches |</button>
              <button class="btn success" style="color: gray; font-size: 14px; padding: 0px;"> Titan Watches |</button>
              <button class="btn success" style="color: gray; font-size: 14px; padding: 0px;"> Designer Blouse |</button>
              <button class="btn success" style="color: gray; font-size: 14px; padding: 0px;"> Gowns |</button>
              <button class="btn success" style="color: gray; font-size: 14px; padding: 0px;"> Rings |</button>
              <button class="btn success" style="color: gray; font-size: 14px; padding: 0px;"> Cricket Shoes |</button>
              <button class="btn success" style="color: gray; font-size: 14px; padding: 0px;"> Forever 21 |</button>   
              <button class="btn success" style="color: gray; font-size: 14px; padding: 0px;"> Eye Makeup |</button> 
            </li>                                 
            <li>
            <button class="btn success" style="color: gray; font-size: 14px; padding: 0px;">Photo Frames |</button>
              <button class="btn success" style="color: gray; font-size: 14px; padding: 0px;"> Punjabi Suits |</button>
              <button class="btn success" style="color: gray; font-size: 14px; padding: 0px;"> Bikini |</button>
              <button class="btn success" style="color: gray; font-size: 14px; padding: 0px;"> Sandals |</button> 
              <button class="btn success" style="color: gray; font-size: 14px; padding: 0px;"> Myntra Fashion Show |</button> 
              <button class="btn success" style="color: gray; font-size: 14px; padding: 0px;"> Lipstick |</button>
              <button class="btn success" style="color: gray; font-size: 14px; padding: 0px;"> Saree |</button>
              <button class="btn success" style="color: gray; font-size: 14px; padding: 0px;"> Watches |</button>
              <button class="btn success" style="color: gray; font-size: 14px; padding: 0px;"> Dresses |</button>
              <button class="btn success" style="color: gray; font-size: 14px; padding: 0px;"> Lehenga |</button>
              <button class="btn success" style="color: gray; font-size: 14px; padding: 0px;"> Nike Shoes |</button>
              <button class="btn success" style="color: gray; font-size: 14px; padding: 0px;"> Goggles |</button>
              <button class="btn success" style="color: gray; font-size: 14px; padding: 0px;"> Bras |</button>
              <button class="btn success" style="color: gray; font-size: 14px; padding: 0px;"> Suit |</button>  
              <button class="btn success" style="color: gray; font-size: 14px; padding: 0px;"> Chinos |</button>
              <button class="btn success" style="color: gray; font-size: 14px; padding: 0px;"> Shoes |</button> 
            </li>
            <li>      
            <button class="btn success" style="color: gray; font-size: 14px; padding: 0px;">Adidas Shoes |</button>
              <button class="btn success" style="color: gray; font-size: 14px; padding: 0px;"> Woodland Shoes |</button>
              <button class="btn success" style="color: gray; font-size: 14px; padding: 0px;"> Jewellery |</button>
              <button class="btn success" style="color: gray; font-size: 14px; padding: 0px;"> Designers Sarees |</button>    
            </li>
        </ul>
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
  </nav>

