<div class = "container-fluid d-flex">
    <div *ngFor="let item of products">
        <app-lab3-shopping-cards imgDescription="Item 1" description={{item.description}} img={{item.img}} [brand]='item.brand' 
        [currprice]='item.currprice' [oldprice]='item.oldprice' [discount]='item.discount'></app-lab3-shopping-cards>
    </div>

<app-lab3-shopping-cards imgDescription="Item 1" description="Black Shoes" img=".\assets\workshoes1.webp" brand="Little Ceasers" 
[currprice]=100 [oldprice]=500 [discount]=80></app-lab3-shopping-cards>
<app-lab3-shopping-cards imgDescription="Item 2" description="Maroon High Heels" img=".\assets\workshoes2.webp" brand="McDonalds" 
[currprice]=1080 [oldprice]=1200 [discount]=10></app-lab3-shopping-cards>
<app-lab3-shopping-cards imgDescription="Item 3" description="Black High Heels" img=".\assets\workshoes3.webp" brand="Cave" 
[currprice]=475 [oldprice]=1900 [discount]=75></app-lab3-shopping-cards>
<app-lab3-shopping-cards imgDescription="Item 3" description="Black Low Heels" img=".\assets\workshoes4.webp" brand="Cave 2" 
[currprice]=475 [oldprice]=1900 [discount]=75></app-lab3-shopping-cards>
<app-lab3-shopping-cards imgDescription="Item 3" description="Black Dress Heels" img=".\assets\workshoes5.webp" brand="Patagonia Cave" 
[currprice]=475 [oldprice]=1900 [discount]=75></app-lab3-shopping-cards>

</div>
<app-lab3-shopping-cards>loading..</app-lab3-shopping-cards>
