<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true" style="margin-top: 40px;">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="carouselbtn active" 
    aria-current="true" aria-label="Slide 1" style="margin: 5px;"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" class="carouselbtn"
    aria-label="Slide 2" style="margin: 5px;"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" class="carouselbtn" 
    aria-label="Slide 3" style="margin: 5px;"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" class="carouselbtn" 
    aria-label="Slide 4" style="margin: 5px;"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4" class="carouselbtn" 
    aria-label="Slide 5" style="margin: 5px;"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="5" class="carouselbtn" 
    aria-label="Slide 6" style="margin: 5px;"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="6" class="carouselbtn" 
    aria-label="Slide 7" style="margin: 5px;"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="7" class="carouselbtn" 
    aria-label="Slide 8" style="margin: 5px;"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="8" class="carouselbtn" 
    aria-label="Slide 9" style="margin: 5px;"></button>
  </div>
  <div class="carousel-inner" style="margin-bottom: 50px; padding-bottom: 55px;">
    <div class="carousel-item active" type="button">
      <img src=".\assets\carousel1.webp" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item" type="button">
      <img src=".\assets\carousel2.webp" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item" type="button">
      <img src=".\assets\carousel3.webp" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item" type="button">
      <img src=".\assets\carousel4.webp" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item" type="button">
      <img src=".\assets\carousel5.webp" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item" type="button">
      <img src=".\assets\carousel6.webp" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item" type="button">
      <img src=".\assets\carousel7.webp" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item" type="button">
      <img src=".\assets\carousel8.webp" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item" type="button">
      <img src=".\assets\carousel9.webp" class="d-block w-100" alt="...">
    </div>
  </div>

</div>
