<div class="container">
    <div class="row">
        <div class="col-8">
            <form #postForm="ngForm" (ngSubmit)="addProduct(postForm.value)">
                    <!-- <app-lab3-shopping-cards 
                imgDescription="Item 1" 
                description="Mens Athletic Pants" 
                img=".\assets\pants4.webp" 
                brand="Gucci" 
                [currprice]=100 
                [oldprice]=500 
                [discount]=80>
                    </app-lab3-shopping-cards> -->
                <div class="input-group">
                    <span class="input-group-text">Image Path</span>
                    <input type="text" class="form-control" ngModel name="img">
                </div>
                <div class="input-group">
                    <span class="input-group-text">Image Description</span>
                    <input type="text" class="form-control" ngModel name="imgDescription">
                </div>
                <button class="btn btn-dark" type="submit">
                    Add Product
                </button>
            </form>
        </div>
    </div>
</div>